.badge {
  width: 18px;
  height: 18px;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  font-weight: 600;
}
.middot {
  /* font-size: 40px; */
  width: 5px;
  height: 5px;
  /* border: 1px solid black; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  /* color: white; */
  font-weight: 600;
}
